*{
  margin: 0;
  padding: 0;
}

body{
  background-color: gray;
}

#particles-js{
  background-image: url(image/pic2.jpeg);
  background-size: cover;
  height: 1000px;

}

h1{
  color: #fff;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 775px;
  right: 775px;
  font-family: arial;
  font-size: 60px;
}

*{
  margin: 0;
  padding: 0;
}

ul{

}

.l1{
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 750px;
  right: 750px;
}

.l1 a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: arial;
  padding: 0 20px;
}

.l2{
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 850px;
  right: 850px;
}

.l2 a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: arial;
  padding: 0 20px;
}

.l4{
  list-style: none;
  display: inline-block;
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 950px;
  right: 950px;
}

.l4 a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: arial;
  padding: 0 20px;
}

p{
  color: #fff;
  font-family: arial;
  font-size: 25px;
  position: absolute;
  top: 250px;
  bottom: 250px;
  left: 550px;
  right: 550px;
}

.H1{
  color: #fff;
  font-family: arial;
  font-size: 25px;
  position: absolute;
  top: 450px;
  bottom: 450px;
  left: 550px;
  right: 550px;
}

.H2{
  color: #fff;
  font-family: arial;
  font-size: 20px;
  position: absolute;
  top: 500px;
  bottom: 500px;
  right: 550px;
  left: 550px;
}

.P1{
  color: #fff;
  font-family: arial;
  font-size: 20px;
  position: absolute;
  top: 550px;
  bottom: 550px;
  right: 550px;
  left: 550px;
}

.P2{
  color: #fff;
  font-family: arial;
  font-size: 20px;
  position: absolute;
  top: 600px;
  bottom: 600px;
  right: 550px;
  left: 550px;
}

.H3{
  color: #fff;
  font-family: arial;
  font-size: 20px;
  position: absolute;
  top: 650px;
  bottom: 650px;
  right: 550px;
  left: 550px;
}

.P3{
  color: #fff;
  font-family: arial;
  font-size: 20px;
  position: absolute;
  top: 700px;
  bottom: 700px;
  right: 550px;
  left: 550px;
}

.H4{
  color: #fff;
  font-family: arial;
  font-size: 20px;
  position: absolute;
  top: 750px;
  bottom: 750px;
  right: 550px;
  left: 550px;
}

.P4{
  color: #fff;
  font-family: arial;
  font-size: 20px;
  position: absolute;
  top: 800px;
  bottom: 800px;
  right: 550px;
  left: 550px;
}
